[Unit]
Description=Unturned Dedicated Server
After=network.target

[Service]
Type=forking
ExecStart=/bin/screen -dmS unturned-server {{ steamcmd_directory }}/{{ game_name }}/ServerHelper.sh -ThreadedConsole +InternetServer/{{ server_name }}
ExecStop=/bin/bash -c 'screen -S unturned-server -p 0 -X stuff "save^Mshutdown^M"; tail --pid=$MAINPID -f /dev/null'
WorkingDirectory={{ steamcmd_directory }}/{{ game_name }}
User={{ steamcmd_user }}
Restart=always

[Install]
WantedBy=multi-user.target